# Wikipedia

In [2]:
from dpd.wikipedia import get_wikipedia_table

In [3]:
get_wikipedia_table(
    "https://en.wikipedia.org/wiki/List_of_diving_facilities",
    0,
)

                         Platform Image          Facility   Location Note
0               10 meter platform            Schwanseebad     Weimar
1                                                              Bünde
2  *10 meter platform in Rheingau                           Rheingau
3                                                             Berlin
4                                                          Magdeburg
5               10 meter platform        Delfinoh Freibad   Nordhorn