# Wikipedia

In [1]:
from dpd.wikipedia import get_wikipedia_table

In [2]:
get_wikipedia_table(
    "https://en.wikipedia.org/wiki/List_of_10-meter_diving_platforms_in_the_United_States",
    1,
)

,Image,Facility,City,State,Note
0,,"Alabama Aquatic Center, University of Alabama",Tuscaloosa,Alabama,[6]
1,,"James E. Martin Aquatics Center, Auburn Univer...",Auburn,Alabama,[7]
2,,"NAU Aquatic and Tennis Complex, Northern Arizo...",Flagstaff,Arizona,[8]
3,,"Mona Plummer Aquatic Center, Arizona State Uni...",Tempe,Arizona,
4,,"Hillenbrand Aquatic Center, University of Arizona",Tucson,Arizona,
...,...,...,...,...,...
68,,Kearns Oquirrh Park Fitness Center,Salt Lake City,Utah,
69,,Christiansburg Aquatic Center Virginia Tech,Blacksburg,Virginia,[41]
70,,"Liberty Natatorium, Liberty University",Lynchburg,Virginia,Planned for completion in 2017.[42]
71,,Weyerhaeuser Aquatic Center,Federal Way,Washington,[43]
72,,Walter Schroeder Aquatic Center,Brown Deer,Wisconsin,[2]